<div class="row">
  <h1>Listagem de Categorias</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <td colspan="5">
        <button class="btn btn-primary" (click)="showModalInsert()">Nova Categoria</button>
      </td>
    </tr>
    <tr>
      <th width="5%" class="text-center">ID</th>
      <th width="65%">Nome</th>
      <th width="6%" class="text-center">Ativa?</th>
      <th width="10%">Criado em</th>
      <th width="14%">Ações</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let category of categories">
      <td class="text-center">{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td class="text-center">
        <i class="fas"
           [ngClass]="{'fa-check text-success': category.active, 'fa-times text-danger': !category.active}"></i>
      </td>
      <td>{{ category.created_at.date | date: 'dd/MM/yyyy'}}</td>
      <td class="text-center">
        <a href="javascript:void(0)" (click)="showModalEdit(category.id)"><i class="fas fa-edit"></i></a> |
        <a href="javascript:void(0)" (click)="showModalDelete(category.id)"><i class="fas fa-trash-alt text-danger"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<category-new-modal (onSuccess)="onInsertSucces($event)" (onError)="onInsertError($event)"></category-new-modal>
<category-edit-modal (onSuccess)="onEditSucces($event)" (onError)="onEditError($event)" [categoryId]="categoryId"></category-edit-modal>
<category-delete-modal (onSuccess)="onDeleteSucces($event)" (onError)="onDeleteError($event)" [categoryId]="categoryId"></category-delete-modal>
