<modal (onHide)="hideModal($event)">
  <h5 modal-title>
    Nova Categoria
  </h5>
  <div modal-body>
    <form id="formCategory" (submit)="submit()">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="category.name" required>
      </div>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="active" name="active" [(ngModel)]="category.active" required>
        <label for="active">Ativo?</label>
      </div>
    </form>
  </div>
  <div modal-footer>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
    <button type="submit" form="formCategory" class="btn btn-primary">Incluir</button>
  </div>
</modal>
